{% extends 'wearwhat/base.html' %}

{% block content %}
    <div class="container-login100" style="">
        <div class="card" style="margin:auto;width: 900px">
            <div class="card-header">
            <b>회원가입</b>
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <p xmlns="http://www.w3.org/1999/html">양식에 맞게 작성해주세요.</p>
                {% endif %}
                <form method="post" action="{% url 'join' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-warning" type="submit" style="color: white;margin-left: 370px">가입하기</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}