<!DOCTYPE html>
{% load static %}
{% load fontawesome_5 %}

<head>
    {% fontawesome_5_static %}
    <meta charset="UTF-8">
    <title>오늘뭐입지</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional theme -->
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">#}

    <!-- 개발자 정의 CSS -->
    <link rel="stylesheet" href="{% static 'css/wearwhat.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>