{% extends 'wearwhat/base.html' %}

{% block content %}
        <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>)</small></p>

        <section id="recommend">
            <button><a href="{% url 'change_option' %}">선택 변경</a></button>
            <div class="recommend">
                <!-- 상의 -->
                <div class="top_list">
                    <table>
                        {% for clo in top %}
                            <td id="fade-in-bottom">
                                <div class="img_box">
                                    <img src="{{ clo.image }}" class="list__img">
                                </div>
                                {% if user in clo.top_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
{#                                <a href="{% url 'top_like'  top_id=clo.id %}">#}
{#                                    {% if user in clo.top_like_users.all %}#}
{#                                        <a href="{% url 'top_like' top_id=clo.id %}"><i class="fas fa-heart"></i></a>#}
{#                                    {% else %}#}
{#                                        <a href="{% url 'top_like' top_id=clo.id %}"><i class="far fa-heart"></i></a>#}
{#                                    {% endif %}#}
{#                                </a>#}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>

                        {% endfor %}
                    </table>
                </div>

                <!-- 하의 -->
                <div class="under_list">
                    <table>
                        {% for clo in under %}
                            <td id="fade-in-bottom">
                                <img src="{{ clo.image }}" class="list__img">
                                {% if user in clo.under_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
{#                                <a href="{% url 'under_like'  under_id=clo.id %}">#}
{#                                    {% if user in clo.under_like_users.all %}#}
{#                                        <a href="{% url 'under_like' under_id=clo.id %}"><i class="fas fa-heart"></i></a>#}
{#                                    {% else %}#}
{#                                        <a href="{% url 'under_like' under_id=clo.id %}"><i class="far fa-heart"></i></a>#}
{#                                    {% endif %}#}
{#                                </a>#}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="under_count-{{ clo.id }}">
                                    {{ clo.under_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>

                <!-- 신발 -->
                <div class="shoes_list">
                    <table>
                        {% for clo in shoes %}
                            <td id="fade-in-bottom">
                                <img src="{{ clo.image }}" class="list__img">
                                {% if user in clo.shoes_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
{#                                <a href="{% url 'shoes_like'  shoes_id=clo.id %}">#}
{#                                    {% if user in clo.shoes_like_users.all %}#}
{#                                        <a href="{% url 'shoes_like' shoes_id=clo.id %}"><i class="fas fa-heart"></i></a>#}
{#                                    {% else %}#}
{#                                        <a href="{% url 'shoes_like' shoes_id=clo.id %}"><i class="far fa-heart"></i></a>#}
{#                                    {% endif %}#}
{#                                </a>#}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="shoes_count-{{ clo.id }}">
                                    {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    {#    상의 스크립트#}
    <script type="text/javascript">
        $('.top_like').click(function(){ // top_like 클래스의 click 이벤트(상의 버튼)
            var num = $(this).attr('cid') // cid 속성이 가진 값을 받아와 num에 저장
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'top_like' %}", // 통신할 url을 지정한다.
                data: {'top_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // views.py에 보낼 데이터
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#top_count-"+num).html(response.like_count+" 명이 좋아합니다."); // #top_count-cid인 id값의 텍스트를 바꿔줌(카운트값을 동적으로 변경)
                    if (response.like_icon == true){ // 좋아요를 눌렀을 경우
                        $("#top_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#top_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });
    </script>

    {#    하의 스크립트#}
    <script type="text/javascript">
        $('.under_like').click(function(){
            var num = $(this).attr('cid')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'under_like' %}", // 통신할 url을 지정한다.
                data: {'under_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#under_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#under_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#under_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });
    </script>

    {#    신발 스크립트#}
    <script type="text/javascript">
        $('.shoes_like').click(function(){
            var num = $(this).attr('cid')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'shoes_like' %}", // 통신할 url을 지정한다.
                data: {'shoes_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#shoes_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#shoes_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#shoes_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });
    </script>
{% endblock %}