{% extends 'wearwhat/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header" id="head">
            <button type="button" id="logout_btn" class="btn btn-outline-secondary" style="margin-right: 15px"><a href="{% url 'logout' %}?next={{ request.path }}">로그아웃</a></button>
            {% if weather == "sun" %}
                <i class="fas fa-sun"></i>
            {% endif %}
            {% if weather == "clouds" %}
                <i class="fas fa-cloud"></i>
            {% endif %}
            {% if weather == "rain" %}
                <i class="fas fa-cloud-showers-heavy"></i>
            {% endif %}
            {% if weather == "fog" or weather == "haze" or weather == "mist" %}
                <i class="fas fa-smog"></i>
            {% endif %}
            {% if weather == "snow" %}
                <i class="far fa-snowflake"></i>
            {% endif %}
            {% if weather == "storm" %}
                <i class="fas fa-poo-storm"></i>
            {% endif %}
            <h1 class="temperature" style="display: inline-block">지금 서울은 {{ temp }} </h1>
            <h3 style="display: inline-block">℃</h3>
            <h1><b>{% if user.fav_style == 'CASUAL' %}캐주얼{% else %}포멀{% endif %}</b> 스타일을 선호하는
                <b>{% if user.gender == 'W'%}<b>여성{% else %}남성{% endif %}</b><br> <b>{{ user.name }}</b>님을 위한 날씨 기반 추천 목록입니다</h1>
        </div>
        <div class="recommend">
            <button type="button" class="btn btn-dark btn-lg"><a href="{% url 'change_option' %}">옵션 변경</a></button>
            <button type="button" class="btn btn-dark btn-lg"><a href="{% url 'my_choice' %}">내가 저장한 옷</a></button><br><br>
            <div class="nav_btn">
                <button type="button" class="random_btn active" style="font-weight: bold"><a href=""></a>오늘의 추천</button>
                <button type="button" class="week_btn" style="font-weight: bold"><a href=""></a>주 간</button>
                <button type="button" class="month_btn" style="font-weight: bold"><a href=""></a>월 간</button>
                <button type="button" class="hashtag_btn" style="font-weight: bold"><a href=""></a>#해시태그</button>
            </div>

            <!-- 상의 -->
            <h1 class="bestFiveTitle" style="opacity:0.7; text-align: left; margin: 45px 75px 40px;"></h1>
            <p class="bestFive" style="opacity:0.7; font-size:30px;text-align: left; margin-left:75px;">오늘의 추천</p>
            <p class="list_title">　상의</p>
            <div class="top_list">
                <table>
                    {% for clo in top %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.top_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>

                    {% endfor %}
                </table>
            </div>

            <div class="weekly_top_list" style="display: none">
                <table>
                    {% for clo in weekly_top %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.top_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>

                    {% endfor %}
                </table>
            </div>

            <div class="monthly_top_list" style="display: none">
                <table>
                    {% for clo in monthly_top %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.top_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="top_like" cid="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>

                    {% endfor %}
                </table>
            </div>

            <!-- 하의 -->
            <p class="list_title">　하의</p>
            <div class="under_list">
                <table>
                    {% for clo in under %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>
                            {% if user in clo.under_like_users.all %}
                                <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                            {% else %}
                                <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                            {% endif %}
                            <!--좋아요 갯수 카운트-->
                            <p class="card-text" id="under_count-{{ clo.id }}">
                                {{ clo.under_like_users.count }} 명이 좋아합니다.
                            </p>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>
                    {% endfor %}
                </table>
            </div>

            <div class="weekly_under_list" style="display: none">
                <table>
                    {% for clo in weekly_under %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.under_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="under_count-{{ clo.id }}">
                                    {{ clo.under_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>
                    {% endfor %}
                </table>
            </div>

            <div class="monthly_under_list" style="display: none">
                <table>
                    {% for clo in monthly_under %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.under_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="under_like" cid="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.under_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>

                    {% endfor %}
                </table>
            </div>
            <!-- 신발 -->
            <p class="list_title">　신발</p>
            <div class="shoes_list">
                <table>
                    {% for clo in shoes %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>
                            {% if user in clo.shoes_like_users.all %}
                                <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                            {% else %}
                                <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                            {% endif %}
                            <!--좋아요 갯수 카운트-->
                            <p class="card-text" id="shoes_count-{{ clo.id }}">
                                {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                            </p>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>
                    {% endfor %}
                </table>
            </div>
            <div class="weekly_shoes_list" style="display: none">
                <table>
                    {% for clo in weekly_shoes %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.shoes_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="shoes_count-{{ clo.id }}">
                                    {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>
                    {% endfor %}
                </table>
            </div>

            <div class="monthly_shoes_list" style="display: none">
                <table>
                    {% for clo in monthly_shoes %}
                        <td id="fade-in-bottom">
                            <div class="hover column">
                                <div>
                                    <figure>
                                        <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                            <img src="{{ clo.image }}" class="list__img">
                                        </a>
                                    </figure>
                                    <span>상세 보기</span>
                                </div>
                            </div>

                            <div class="like">
                                {% if user in clo.shoes_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid; font-size: 18px;" class="shoes_like" cid="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                                </p>
                            </div>
                            <div class="list__description">
                                <p> {{ clo.title }} </p>
                            </div>
                        </td>

                    {% endfor %}
                </table>
            </div>

            <div id="hashtag" style="border-top: solid dimgrey 1px; width: 1500px; height: 1000px; margin-top: 200px; padding: 100px">
                <h1 style="color: dimgrey">#해시태그</h1>
                <h4 style="color: dimgrey">최신 트렌드</h4>
                <img src="../../static/images/tag_image.png" alt="" style="max-width: 100%;">
                <button type="button" class="back_btn btn btn-dark btn-lg" style="margin-top: 50px">돌아가기</button>

            </div>
{#                <div>#}
{#                    under#}
{#                    <img src="../../static/images/under_image.png" alt="">#}
{#                </div>#}
{#                <div>#}
{#                    shoes#}
{#                    <img src="../../static/images/shoes_image.png" alt="">#}
{#                </div>#}

        </div>
    </div>

    <script type="text/javascript">
        // 해시태그 버튼 클릭시 하단으로 스크롤
        const hashtag = document.querySelector(".hashtag_btn");
        hashtag.addEventListener("click", () => {
            scrollIntoView("#hashtag");
        })

        // 돌아가기 버튼 클릭시 상단으로 스크롤
        const goBack = document.querySelector(".back_btn");
        goBack.addEventListener("click", () => {
            scrollIntoView("#head");
        })

        // 함수 - 지정한 위치로 스크롤
        function scrollIntoView(selector) {
        const scrollTo = document.querySelector(selector);
        scrollTo.scrollIntoView({ behavior: "smooth", block: "center" });
}


    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    {#    상의 스크립트#}
    <script type="text/javascript">
        $('.top_like').click(function(){ // top_like 클래스의 click 이벤트(상의 버튼)
            var num = $(this).attr('cid') // cid 속성이 가진 값을 받아와 num에 저장
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'top_like' %}", // 통신할 url을 지정한다.
                data: {'top_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // views.py에 보낼 데이터
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#top_count-"+num).html(response.like_count+" 명이 좋아합니다."); // #top_count-cid인 id값의 텍스트를 바꿔줌(카운트값을 동적으로 변경)
                    if (response.like_icon == true){ // 좋아요를 눌렀을 경우
                        $("#top_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#top_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });

    {#    하의 스크립트#}
        $('.under_like').click(function(){
            var num = $(this).attr('cid')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'under_like' %}", // 통신할 url을 지정한다.
                data: {'under_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#under_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#under_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#under_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });

    {#    신발 스크립트#}
        $('.shoes_like').click(function(){
            var num = $(this).attr('cid')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'shoes_like' %}", // 통신할 url을 지정한다.
                data: {'shoes_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#shoes_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#shoes_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#shoes_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });
        $('.random_btn').click(function(){
            $('.bestFive').text('오늘의 추천');

            $('.top_list').show();
            $('.under_list').show();
            $('.shoes_list').show();

            $('.monthly_top_list').hide();
            $('.monthly_under_list').hide();
            $('.monthly_shoes_list').hide();

            $('.bestFiveTitle').hide();
            $('.weekly_top_list').hide();
            $('.weekly_under_list').hide();
            $('.weekly_shoes_list').hide();
        });

        $('.week_btn').click(function(){
            $('.bestFiveTitle').text('Best5');
            $('.bestFive').text('{{ last_week }} ~ {{ week }}동안 가장 많은 좋아요를 받은 옷');

            $('.bestFiveTitle').show();
            $('.weekly_top_list').show();
            $('.weekly_under_list').show();
            $('.weekly_shoes_list').show();

            $('.monthly_top_list').hide();
            $('.monthly_under_list').hide();
            $('.monthly_shoes_list').hide();

            $('.top_list').hide();
            $('.under_list').hide();
            $('.shoes_list').hide();
        });

        $('.month_btn').click(function(){
            $('.bestFiveTitle').text('Best5');
            $('.bestFive').text('{{ last_month }} ~ {{ month }}동안 가장 많은 좋아요를 받은 옷');
            $('.monthly_top_list').show();
            $('.monthly_under_list').show();
            $('.monthly_shoes_list').show();

            $('.bestFiveTitle').show();
            $('.weekly_top_list').hide();
            $('.weekly_under_list').hide();
            $('.weekly_shoes_list').hide();

            $('.top_list').hide();
            $('.under_list').hide();
            $('.shoes_list').hide();
        });
    </script>
{% endblock %}