{% extends 'wearwhat/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>)</small></p>


        <section id="recommend">
{#            <div class="recommend_imgs">#}
{#                <!-- 추천 1 상의, 하의-->#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <!-- 추천 2 상의, 하의-->#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <img src="https://via.placeholder.com/300">#}
{#            </div>#}

            <div class="recommend_imgs">
                {% for clo in cloth %}
                <img src="{{ clo.img }}">
                <p> {{ clo.id }} 이름 : {{ clo.title }} 색깔: {{ clo.color }}</p>
            {% endfor %}
            </div>


            {% for clo in cloth %}
                <img src="{{ clo.img }}">
                <p> {{ clo.id }} 이름 : {{ clo.title }} 색깔: {{ clo.color }}</p>
            {% endfor %}
            <!-- css display 이용해 선택 폼 접고 펼 수 있도록  -->
            <button><a href="*">선택 변경</a></button>

        </section>

    {% else %}
        <button><a href="{% url 'login' %}">login</a></button>
    {% endif %}

{% endblock %}