{% extends 'wearwhat/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <button type="button" id="logout_btn" class="btn btn-outline-secondary" style="margin-right: 15px"><a href="{% url 'logout' %}?next={{ request.path }}">로그아웃</a></button>
    <div class="page-header" style="padding: 45px">
        <h3>저장한 옷 목록입니다 (●'◡'●)</h3>
        <button type="button" id="main_btn" class="btn btn-dark btn-lg" style="margin-top: 30px"><a href="{% url 'main_page' %}">메인으로</a></button>
    </div>
        <section id="recommend">
            <div class="recommend" style="margin-top: 100px">
                <!-- 상의 -->
                <p class="list_title">　상의</p>
                <div class="top_list" style="overflow-x:scroll; height: 524px; white-space:nowrap; margin-bottom: 100px;">
                    <table>
                        {% for clo in top %}
                            <td id="fade-in-bottom">
                                <div class="hover column">
                                    <div>
                                        <figure>
                                            <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                                <img src="{{ clo.image }}" class="list__img">
                                            </a>
                                        </figure>
                                        <span>상세 보기</span>
                                    </div>
                                </div>

                                {% if user in clo.top_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="top_like" top_id="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="top_like" top_id="{{ clo.id }}"><i id="top_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="top_count-{{ clo.id }}">
                                    {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-light top_remove" top_id="{{ clo.id }}">삭제</button>
                                </div>
                            </td>

                        {% endfor %}
                    </table>
                </div>

                <!-- 하의 -->
                <p class="list_title">　하의</p>
                <div class="under_list" style="overflow-x:scroll; height: 524px; white-space:nowrap; margin-bottom: 100px;">
                    <table>
                        {% for clo in under %}
                            <td id="fade-in-bottom">
                                <div class="hover column">
                                    <div>
                                        <figure>
                                            <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                                <img src="{{ clo.image }}" class="list__img">
                                            </a>
                                        </figure>
                                        <span>상세 보기</span>
                                    </div>
                                </div>
                                {% if user in clo.under_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="under_like" under_id="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="under_like" under_id="{{ clo.id }}"><i id="under_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="under_count-{{ clo.id }}">
                                    {{ clo.under_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-light under_remove" under_id="{{ clo.id }}">삭제</button>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>

                <!-- 신발 -->
                <p class="list_title">　신발</p>
                <div class="shoes_list" style="overflow-x:scroll; height: 524px; white-space:nowrap; margin-bottom: 100px;">
                    <table>
                        {% for clo in shoes %}
                            <td id="fade-in-bottom">
                                <div class="hover column">
                                    <div>
                                        <figure>
                                            <a class="clo_url" href="{{ clo.url }}" target="_blank">
                                                <img src="{{ clo.image }}" class="list__img">
                                            </a>
                                        </figure>
                                        <span>상세 보기</span>
                                    </div>
                                </div>
                                {% if user in clo.shoes_like_users.all %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="shoes_like" shoes_id="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="fas fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" style="background-color:transparent;  border:0px transparent solid;" class="shoes_like" shoes_id="{{ clo.id }}"><i id="shoes_ico-{{ clo.id }}" class="far fa-heart"></i></button>
                                {% endif %}
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text" id="shoes_count-{{ clo.id }}">
                                    {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-light shoes_remove" shoes_id="{{ clo.id }}">삭제</button>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>

    {% else %}
        <button><a href="{% url 'login' %}">login</a></button>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        {#상의 좋아요#}
        $('.top_like').click(function(){
            var num = $(this).attr('top_id')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'top_like' %}", // 통신할 url을 지정한다.
                data: {'top_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#top_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#top_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#top_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });

        {#하의 좋아요#}
        $('.under_like').click(function(){
            var num = $(this).attr('under_id')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'under_like' %}", // 통신할 url을 지정한다.
                data: {'under_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#under_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#under_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#under_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });

        {#신발 좋아요#}
        $('.shoes_like').click(function(){
            var num = $(this).attr('shoes_id')
            $.ajax({
                type: "POST", // 데이터를 전송하는 방법을 지정한다.
                url: "{% url 'shoes_like' %}", // 통신할 url을 지정한다.
                data: {'shoes_id': num, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){ // 성공했을 때 호출할 콜백을 지정한다.
                    $("#shoes_count-"+num).html(response.like_count+" 명이 좋아합니다.");
                    if (response.like_icon == true){
                        $("#shoes_ico-"+num).attr('class', 'fas fa-heart');
                    } else{
                        $("#shoes_ico-"+num).attr('class', 'far fa-heart');
                    }
                },
                error:function(request,status,error){
                    alert('실패');
                }
            });
        });

        {#상의 제거#}
        $('.top_remove').click(function(){
            var top = $(this).attr('top_id')
            $.ajax({
               type: "POST",
               url: "{% url 'top_remove' %}",
               data: {'top_id': top,  'csrfmiddlewaretoken': '{{ csrf_token }}'},
               success: function(response){
                   alert('선택하신 옷을 제거했습니다.');
                   window.location.reload();
               },
                error:function(request, status, error){
                   alert('실패');
                }
            });
        });

        {#하의 제거#}
        $('.under_remove').click(function(){
            var under = $(this).attr('under_id')
            $.ajax({
               type: "POST",
               url: "{% url 'under_remove' %}",
               data: {'under_id': under,  'csrfmiddlewaretoken': '{{ csrf_token }}'},
               success: function(response){
                   alert('선택하신 옷을 제거했습니다.');
                   window.location.reload();
               },
                error:function(request, status, error){
                   alert('실패');
                }
            });
        });

        {#신발 제거#}
        $('.shoes_remove').click(function(){
            var shoes = $(this).attr('shoes_id')
            $.ajax({
               type: "POST",
               url: "{% url 'shoes_remove' %}",
               data: {'shoes_id': shoes,  'csrfmiddlewaretoken': '{{ csrf_token }}'},
               success: function(response){
                   alert('선택하신 옷을 제거했습니다.');
                   window.location.reload();
               },
                error:function(request, status, error){
                   alert('실패');
                }
            });
        });
    </script>

{% endblock %}