{% extends 'wearwhat/base.html' %}

{% block content %}
    <div class="option_change">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="OK">
    </form>
    </div>
    {% if user.is_authenticated %}
        <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>)</small></p>


        <section id="recommend">
{#            <div class="recommend_imgs">#}
{#                <!-- 추천 1 상의, 하의-->#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <!-- 추천 2 상의, 하의-->#}
{#                <img src="https://via.placeholder.com/300">#}
{#                <img src="https://via.placeholder.com/300">#}
{#            </div>#}

            <div class="recommend">
                <!-- 상의 -->
                <div class="top_list">
                    <table>
                        {% for clo in top %}
                            <td>
                                <img src="{{ clo.image }}" class="list__img">
                                <a href="{% url 'top_like'  top_id=clo.id %}">
                                    {% if user in clo.top_like_users.all %}
                                        <a href="{% url 'top_like' top_id=clo.id %}"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{% url 'top_like' top_id=clo.id %}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </a>
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text">
                                {{ clo.top_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>

                        {% endfor %}
                    </table>
                </div>

                <!-- 하의 -->
                <div class="bottom_list">
                    <table>
                        {% for clo in bottom %}
                            <td>
                                <img src="{{ clo.image }}" class="list__img">
                                <a href="{% url 'under_like'  under_id=clo.id %}">
                                    {% if user in clo.under_like_users.all %}
                                        <a href="{% url 'under_like' under_id=clo.id %}"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{% url 'under_like' under_id=clo.id %}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </a>
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text">
                                {{ clo.under_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>

                <!-- 신발 -->
                <div class="shoes_list">
                    <table>
                        {% for clo in shoes %}
                            <td>
                                <img src="{{ clo.image }}" class="list__img">
                                <a href="{% url 'shoes_like'  shoes_id=clo.id %}">
                                    {% if user in clo.shoes_like_users.all %}
                                        <a href="{% url 'shoes_like' shoes_id=clo.id %}"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{% url 'shoes_like' shoes_id=clo.id %}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                </a>
                                <!--좋아요 갯수 카운트-->
                                <p class="card-text">
                                {{ clo.shoes_like_users.count }} 명이 좋아합니다.
                                </p>
                                <div class="list__description">
                                    <p> {{ clo.title }} </p>
                                </div>
                            </td>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    {% else %}
        <button><a href="{% url 'login' %}">login</a></button>
    {% endif %}
{% endblock %}