<!DOCTYPE html>
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32"/>
    <title>오늘뭐입지</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 개발자 정의 CSS -->
    <link rel="stylesheet" href="{% static 'css/recommend_select_style.css' %}">

</head>
<body>
    <div class="bg" id="fade-in-bottom">
        <div class="select_box">
            <form method="post" action="{% url "recommend" %}">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == '스타일' %}
                        어떤 <b>{{ field.label }}</b>을 원하세요?
                        {{ field }}<br>
                    {% elif field.label == '어디' %}
                        <b>{{ field.label }}</b>가세요?
                        {{ field }}<br>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="선택 완료" class="btn btn-primary btn-lg">
            </form>
        </div>
    </div>
</body>
</html>
